* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

div {
  width: 70%;
  height: 80%;
  border: 2px solid salmon;
}

/* Normal Linear Gradients */

#multiple-colors {
  background-image:
    linear-gradient(45deg, white, transparent 50%),
    linear-gradient(-45deg, salmon, transparent 75%),
    linear-gradient(225deg, aqua, transparent 75%),
    linear-gradient(115deg, crimson, transparent 75%);
}

#two-color {
  background-image: linear-gradient(45deg, red 0 50%, blue 50% 100%);
}

/* Linear Gradient Patterns */

#triangles {
  background-image: linear-gradient(135deg, #ddd 20%, rgba(0, 0, 0, 0.934) 20%);
  background-size: 40px 40px;
}

#zebra-crossing {
  background-image:
    repeating-linear-gradient(
      transparent 0px,
      transparent 80px,
      white 0 40px,
      black 40px 80px
    ),
    repeating-linear-gradient(90deg, white 0 40px, black 40px 80px);
}

#kinda-chess {
  background-image:
    repeating-linear-gradient(
      to right,
      transparent 0px,
      transparent 40px,
      black 40px,
      black 81px
    ),
    repeating-linear-gradient(
      black,
      black 40px,
      transparent 40px,
      transparent 81px
    );
}

#vertical-bars {
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%
  );
  background-color: crimson;
  background-size: 60px;
}

#horizontal-bars {
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%
  );
  background-color: crimson;
  background-size: 1px 60px;
}

#checks-pattern {
  background-image:
    linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.5) 50%),
    linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  background-color: crimson;
}

#checks-pattern-grid {
  background-image:
    linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.5) 50%),
    linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  background-color: black;
  background-size: 100px 100px;
}

#diamond-shape {
  background-color: aqua;
  background-image:
    linear-gradient(135deg, crimson 25%, transparent 25%),
    linear-gradient(225deg, crimson 25%, transparent 25%),
    linear-gradient(315deg, crimson 25%, transparent 25%),
    linear-gradient(45deg, crimson 25%, transparent 25%);
}

#snackbar {
  background-image:
    linear-gradient(135deg, crimson 25%, transparent 25%),
    linear-gradient(225deg, crimson 25%, transparent 25%),
    linear-gradient(315deg, crimson 25%, transparent 25%),
    linear-gradient(45deg, crimson 25%, transparent 25%);
  background-color: aqua;
  background-size: 12px;
}

#diamond-grid {
  background-image:
    linear-gradient(135deg, crimson 25%, transparent 25%),
    linear-gradient(225deg, crimson 25%, transparent 25%),
    linear-gradient(315deg, crimson 25%, transparent 25%),
    linear-gradient(45deg, crimson 25%, transparent 25%);
  background-color: aqua;
  background-size: 50px 50px;
}

#rhombus-symmetrical-structure {
  background-image:
    linear-gradient(135deg, crimson 25%, transparent 25%),
    linear-gradient(225deg, crimson 25%, transparent 25%),
    linear-gradient(315deg, crimson 25%, transparent 25%),
    linear-gradient(45deg, crimson 25%, transparent 25%);
  background-color: aqua;
  background-size: 90px 40px;
}

#zig-zag {
  background:
    linear-gradient(135deg, crimson 25%, transparent 25%) 50px 0,
    linear-gradient(225deg, crimson 25%, transparent 25%) 50px 0,
    linear-gradient(315deg, crimson 25%, transparent 25%),
    linear-gradient(45deg, crimson 25%, transparent 25%);
  background-color: aqua;
  background-size: 20px 20px;
}

#check-board {
  background-color: aliceblue;
  background-image:
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    );
  background-size: 140px 140px;
  background-position:
    0 0,
    70px 70px;
}

.dot-gradient {
  background-image: radial-gradient(black, white 25%, white);
  background-repeat: repeat;
  background-size: 50px 50px;
}

.saregama-pattern {
  background-image: radial-gradient(black, white 25%, white);
  background-repeat: repeat-x;
  background-size: 50px;
}

/* Radial Gradients */

#radial-basic {
  background: radial-gradient(#e66465, #9198e5);
}

#sunny-kind {
  background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
}

#longer-hue {
  background-image: radial-gradient(
    circle at center in hsl longer hue,
    red,
    blue
  );
}

#simple-blob {
  background-image:
    radial-gradient(circle at 20% 30%, crimson, transparent 50%),
    radial-gradient(circle at 40% 70%, aqua, transparent 50%),
    radial-gradient(circle at 80% 60%, violet, transparent 50%);
  border-radius: 20% 20% 55% 45% / 80% 40% 60% 40%;
}

#illusion-circle {
  background-image: repeating-radial-gradient(
    circle at center,
    black 4%,
    transparent 5%
  );
}

#simple-repeating-pattern {
  background-image:
    repeating-radial-gradient(
      circle at center,
      rgb(0, 200, 255),
      transparent 20%
    ),
    repeating-radial-gradient(circle at center, crimson, transparent 40%);
}

#orb {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background:
    radial-gradient(
      circle at 30% 30%,
      rgba(255, 255, 255, 0.8),
      transparent 40%
    ),
    radial-gradient(circle at 60% 60%, #5b8cff, transparent 70%),
    radial-gradient(circle at 40% 70%, #ff4ecd, transparent 70%),
    radial-gradient(circle at center, #7a00ff, #220033);
}

