* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(35, 34, 34);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  width: 100%;
  height: 100%;
  padding: 0 3em;
}

ul {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

ul > li {
  font-size: 30px;
  list-style: none;
}

.active a {
  color: aqua;
  border: 1px solid aquamarine;
}

.active a:hover {
  border: 1px solid rebeccapurple;
}

li > a {
  text-decoration: none;
  padding: 0.2em;
  color: azure;
  border: 1px solid salmon;
}

li > a:hover {
  border: 1px solid aquamarine;
}

main nav {
  width: 25%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid aliceblue;
}

.dot-gradient{
  width: 75%;
  height: 90%;
  border: 3px solid salmon;
  background-image: radial-gradient(black,white 25%,white);
  background-repeat: repeat;
  background-size: 50px 50px;
}