* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

div {
  width: 70%;
  height: 80%;
  border: 2px solid salmon;
}

#multiple-colors {
  background-image: linear-gradient(45deg, white, transparent 50%), linear-gradient(-45deg, salmon, transparent 75%), linear-gradient(225deg, aqua, transparent 75%), linear-gradient(115deg, crimson, transparent 75%);
}

#triangles {
  background-image: linear-gradient(135deg, #ddd 20%, rgba(0, 0, 0, 0.934) 20%);
  background-size: 40px 40px;
}

#zebra-crossing {
  background-image: repeating-linear-gradient(transparent 0px, transparent 80px, white 0 40px, black 40px 80px),
    repeating-linear-gradient(90deg, white 0 40px, black 40px 80px);
}

#two-color {
  background-image: linear-gradient(45deg, red 0 50%, blue 50% 100%)
}


#kinda-chess {
  background-image: repeating-linear-gradient(to right, transparent 0px, transparent 40px, black 40px, black 81px), repeating-linear-gradient(black, black 40px, transparent 40px, transparent 81px);
}

#vertical-bars {
  background-image: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, .5) 50%);
  background-color: crimson;
  background-size: 60px;
}

#horizontal-bars {
  background-image: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, .5) 50%);
  background-color: crimson;
  background-size: 1px 60px;
}

#checks-pattern {
  background-image: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, .5) 50%), linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, .5) 50%);
  background-color: crimson;
}

#checks-pattern-grid {
  background-image: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, .5) 50%), linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, .5) 50%);
  background-color: black;
  background-size: 100px 100px;
}

#diamond-shape {
  background-color: aqua;
  background-image: linear-gradient(135deg, crimson 25%, transparent 25%), linear-gradient(225deg, crimson 25%, transparent 25%), linear-gradient(315deg, crimson 25%, transparent 25%), linear-gradient(45deg, crimson 25%, transparent 25%);
}

#snackbar {
  background-image: linear-gradient(135deg, crimson 25%, transparent 25%), linear-gradient(225deg, crimson 25%, transparent 25%), linear-gradient(315deg, crimson 25%, transparent 25%), linear-gradient(45deg, crimson 25%, transparent 25%);
  background-color: aqua;
  background-size: 12px;
}

#diamond-grid {
  background-image: linear-gradient(135deg, crimson 25%, transparent 25%), linear-gradient(225deg, crimson 25%, transparent 25%), linear-gradient(315deg, crimson 25%, transparent 25%), linear-gradient(45deg, crimson 25%, transparent 25%);
  background-color: aqua;
  background-size: 50px 50px;
}

#rhombus-symmetrical-structure {
  background-image: linear-gradient(135deg, crimson 25%, transparent 25%), linear-gradient(225deg, crimson 25%, transparent 25%), linear-gradient(315deg, crimson 25%, transparent 25%), linear-gradient(45deg, crimson 25%, transparent 25%);
  background-color: aqua;
  background-size: 90px 40px;
}

#zig-zag {
  background: linear-gradient(135deg, crimson 25%, transparent 25%) 50px 0,
    linear-gradient(225deg, crimson 25%, transparent 25%) 50px 0,
    linear-gradient(315deg, crimson 25%, transparent 25%),
    linear-gradient(45deg, crimson 25%, transparent 25%);
  background-color: aqua;
  background-size: 20px 20px;
}

#check-board {
  background-color: aliceblue;
  background-image:
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 140px 140px;
  background-position: 0 0, 70px 70px;
}

.dot-gradient {
  background-image: radial-gradient(black, white 25%, white);
  background-repeat: repeat;
  background-size: 50px 50px;
}

.saregama-pattern {
  background-image: radial-gradient(black, white 25%, white);
  background-repeat: repeat-x;
  background-size: 50px;
}